# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\自己的实验\DVGNN-main317\AIRBJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
